body
	font-family "Catamaran", sans-serif

ul li a
	color #366b34

ul li ul li a
	font-weight normal

.header-anchor
	color #366b34

h1, h2, h3, h4, p
	color #525252

.sidebar ul li a.active
	color #366b34
	border-left-color #366b34

.sidebar ul li a:hover
	color #366b34

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active
	border-bottom-color #366b34

.prev a
	color #366b34

.next a
	color #366b34

p a
	color #366b34

.content .custom-block.tip
	border-color #64B5F6

table tbody tr td a
	color #366b34

.sidebar .sidebar-links li div .sidebar-heading
	color #525252

.sidebar .sidebar-links li div .sidebar-heading:hover
	color #366b34